* {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-size: 1.2rem;
    font-weight: 700;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
	background: blanchedalmond
}
.wrapper {
width: 100%;
}

.accordion_wrapper {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    margin: 0 auto;
}

h1 {
    font-size: 2rem;
    margin-bottom: 0;
}
#accordion {
    padding:0;
    }
#accordion li {
    list-style:none;
    width:100%;
    }

    #accordion input {
        display:none;
    }

#accordion  li label {
    padding: 1em;
    display:block;
    font-size: 1em;
    border-top: solid 1px rgb(104, 101, 101);
    color:hsl(212, 90%, 65%);
    }

.title-icon {
    display: flex;
    justify-content: space-between;
    }

/* hide content by default */
#accordion .content {
    display:none;
}

#accordion i {
    display:none;
}

#accordion:hover i {
    display: block;
    color: black;
  }

  #accordion:hover label {
    color: black;
    cursor: pointer;
    transition: 1.5s;
  }


  #accordion input[type="radio"]:checked ~ label {
    color: rgb(43, 41, 41);
  }

  #accordion input[type="radio"]:checked ~ .content {
    display:flex;
    justify-content: center;
}

#accordion li:hover #plus, #accordion input[type="radio"]:checked ~ #plus {
    transform: rotate(45deg);
}










